@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--gradient: linear-gradient(to top left, #2b5876, #4e4376);

		--background: 217 30.549999999999997% 2.56%;
		--foreground: 217 4.699999999999999% 96.6%;

		--muted: 217 23.5% 9.6%;
		--muted-foreground: 217 4.699999999999999% 53.2%;

		--popover: 217 55.6% 4.16%;
		--popover-foreground: 217 4.699999999999999% 96.6%;

		--card: 217 55.6% 4.16%;
		--card-foreground: 217 4.699999999999999% 96.6%;

		--border: 217 23.5% 9.6%;
		--input: 217 23.5% 9.6%;

		--primary: 217 47% 32%;
		--primary-foreground: 217 4.699999999999999% 96.6%;

		--secondary: 217 23.5% 9.6%;
		--secondary-foreground: 217 4.699999999999999% 96.6%;

		--accent: 217 23.5% 9.6%;
		--accent-foreground: 217 4.699999999999999% 96.6%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 217 4.699999999999999% 96.6%;

		--ring: 217 47% 32%;

		--radius: 0.5rem;
	}
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html:not(.astro-code *) {
	font-family: 'quicksand';
	color: white;
}
.blog-parser {
	line-height: 28px;
}
.blog-parser img {
	margin: 10px 0;
}
.blog-parser a {
	color: #007bff;
}
.astro-code {
	border-radius: 8px;
	padding: 10px;
	margin: 10px 0;
}
