---
import DownloadCv from '@/components/DownloadCv';
import { cn } from '@/lib/utils';
import EmailIcon from '../assets/email.svg?raw';
import GithubIcon from '../assets/github.svg?raw';
import LinkedinIcon from '../assets/linkedin.svg?raw';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home | Alfin Aditya">
	<main class="h-[90vh] flex flex-col justify-center items-center">
		<div class="m-auto w-[300px]">
			<h1 class="text-center text-3xl leading-normal font-black">
				Hi, I'm <span class="text-primary">Alfin</span> 👋
			</h1>
			<h2 class="text-center text-3xl leading-normal font-black">
				Software Developer
			</h2>

			<div class="flex justify-center my-6">
				<a
					href="https://github.com/Alfinaditya"
					class="fill-white [&>svg]:w-6 [&>svg]:h-6 hover:fill-white/50"
					rel="noreferrer"
					target="_blank"
				>
					<Fragment set:html={GithubIcon} />
				</a>
				<a
					class="fill-white hover:fill-white/50 [&>svg]:w-6 [&>svg]:h-6 mx-5"
					href="mailto:alfinaditia02@gmail.com"
				>
					<Fragment set:html={EmailIcon} />
				</a>
				<a
					class="fill-white [&>svg]:w-6 [&>svg]:h-6 hover:fill-white/50"
					rel="noreferrer"
					target="_blank"
					href="https://www.linkedin.com/in/alfin-aditya-617120184/"
				>
					<Fragment set:html={LinkedinIcon} />
				</a>
			</div>

			<DownloadCv
				className={cn('m-auto', 'items-center', 'flex justify-center')}
			/>
		</div>
	</main>
</Layout>

<style></style>
