---
interface Props {
	href: string;
	activeClassName: string;
}

const currentPath = Astro.url.pathname;
const { href, activeClassName } = Astro.props;
console.log('current ' + currentPath, 'href ' + href);
const active = activeClassName;
---

<a class={currentPath === href ? active : ''} href={href}><slot /></a>
