---
import { removeTrailingSlash } from '@/utils/trailing-slash';
interface Props {
	href: string;
	activeClassName: string;
}
const { href, activeClassName } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
const active = activeClassName;
---

<a class={isActive ? active : ''} href={href}><slot /></a>
